
<div class="wrapper">
    <div class="leftSide">
      <!-- Sayfanın solunda restoranın fotoğrafı, adı ve açıklaması yer alır.  -->
      <div class="restaurantImg">
        <img src="\assets\images\restaurant-illustration.jpg" alt="" srcset="">
      </div>
      <div class="textBox">
        <h2>Cafe & Restaurant</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil id odit vero perferendis? Provident facilis molestias, velit debitis hic, nam perspiciatis eum, nihil cumque officia minus corporis quia ducimus libero.</p>
      </div>
    </div>
    <div class="rightSide">
      <div class="imageBox">
        <!-- Bu kısımda menulerin görüleceği cardlar bulunur. Menu kahvaltı, yemek ve içecek şeklinde ayrılmıştır. Altlarındaki butonların bu menülere yönlendirmesi planlanır. -->
        <div class="menuBox">
          <div class="card">
            <img src="\assets\images\breakfast-illustration.jpg" class="menuImg" alt="...">
            <div class="card-body">
             <a href="#" class="btn btn-primary detailsBtn">Kahvaltı</a>
            </div>
          </div>
        </div>
        <div class="menuBox">
          <div class="card">
            <img src="\assets\images\A dinner.jpg" class="menuImg" alt="...">
            <div class="card-body">
             <a href="#" class="btn btn-primary detailsBtn">Yemek</a>
            </div>
          </div>
        </div>
        <div class="menuBox">
          <div class="card">
            <img src="\assets\images\drink-illustration.jpg" class="menuImg" alt="...">
            <div class="card-body">
             <a href="#" class="btn btn-primary detailsBtn">İçecekler</a>
            </div>
          </div>
        </div>
      </div>
      <div class="descBox">
       <!--  Burada yorum yapılacak forma götürmesi planlanan bir buton bulunur. -->
        <button  type="button" id="commentbtn" class="btn btn-info" routerLink="/yorum">Yorum Ekle</button>
        <div class="container mt-5 mb-5">
         <!--  Bu kısımda restoran yorumlarının görünmesi planlanır. -->
          <div class="d-flex justify-content-center row">
              <div class="d-flex flex-column col-md-8">
                  
                  <div class="coment-bottom bg-white p-2 px-4">
                      <div
                          class="commented-section mt-2">
                          <div class="d-flex flex-row align-items-center commented-user">
                            <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"></div>
                              <h5 class="mr-2">Corey oates</h5></div>
                          <div class="comment-text-sm"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
                          
              </div>
              <div class="commented-section mt-2">
                  <div class="d-flex flex-row align-items-center commented-user">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"></div>
                      <h5 class="mr-2">Samoya Johns</h5></div>
                  <div class="comment-text-sm"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</span></div>
              </div>
              <div class="commented-section mt-2">
                  <div class="d-flex flex-row align-items-center commented-user">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"></div>
                      <h5 class="mr-2">Makhaya andrew</h5></div>
                  <div class="comment-text-sm"><span>Nunc sed id semper risus in hendrerit gravida rutrum. Non odio euismod lacinia at quis risus sed. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Enim facilisis gravida neque convallis a. In mollis nunc sed id. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Ultrices mi tempus imperdiet nulla malesuada pellentesque.</span></div>
          </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  
  